@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,400,500,600&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');

/*------ portfolio 숫자용 font ------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

/* -------IE에서 google폰트가 적용안돼서 따로 font 다운받아서 적용.------- */
/* source-sans-pro-200 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/source-sans-pro-v14-latin-200.eot'); /* IE9 Compat Modes */
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'),
         url('../fonts/source-sans-pro-v14-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/source-sans-pro-v14-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/source-sans-pro-v14-latin-200.woff') format('woff'), /* Modern Browsers */
         url('../fonts/source-sans-pro-v14-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/source-sans-pro-v14-latin-200.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }
/* source-sans-pro-300 - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/source-sans-pro-v13-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
		 url('../fonts/source-sans-pro-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/source-sans-pro-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/source-sans-pro-v13-latin-300.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/source-sans-pro-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/source-sans-pro-v13-latin-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }
  /* source-sans-pro-regular - latin */
  @font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/source-sans-pro-v13-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
		 url('../fonts/source-sans-pro-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/source-sans-pro-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/source-sans-pro-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/source-sans-pro-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/source-sans-pro-v13-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }
  /* source-sans-pro-600 - latin */
  @font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/source-sans-pro-v13-latin-600.eot'); /* IE9 Compat Modes */
	src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
		 url('../fonts/source-sans-pro-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/source-sans-pro-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/source-sans-pro-v13-latin-600.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/source-sans-pro-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/source-sans-pro-v13-latin-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }
  /* source-sans-pro-700 - latin */
  @font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/source-sans-pro-v13-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
		 url('../fonts/source-sans-pro-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/source-sans-pro-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/source-sans-pro-v13-latin-700.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/source-sans-pro-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/source-sans-pro-v13-latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }



/* ---------------------reset------------------- */
*{
    box-sizing: border-box;
}
body {
	font:normal 18px 'Source Sans Pro', sans-serif, Arial, Verdana;
	font-weight:200;
	line-height:1.6;
	color:#1c1b20;
	background-color:#4A41AB;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 { font-size:1em; }
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
li{  list-style:none;  }
ul, ol{  list-style:none;  }
a{  text-decoration:none; color:#000;  }
img{ vertical-align:top; } /* img가 베이스라인만큼 떠있는 것을 없애줌 */
table{ width:100%; border-collapse:collapse; }
strong, em{ font-style:normal; font-weight:400; }
button{ border:none; padding:0; background-color:transparent; cursor:pointer;  }
button:focus{ outline:none; }


/* ---------------------layout------------------- */
.wrap{ width:100%; min-width:340px; background-color:#1c1b20; }
header{ background-color:#f8f8f8; width: 100%;/*width:calc(100% + -110px);*/ min-width:300px/*350-110*/; height:55px; padding:20px 55px 0; transition:all .3s ease-out; position:fixed; z-index:5000; }
header.fixed{ border-bottom:1px solid rgba(248, 248, 248, 0.596);  padding:0 55px; position:fixed; top:-55px; left:0; }
header.fixed2{ top:0; }
main{ width:100%; background-color:#f8e88f /*f8f8f8*/; overflow:hidden; left:0; transition:all .5s ease-out; }
footer{ width:100%;  background-color:; position:fixed; bottom:0; transition:all .5s ease-out; }

/* ---------------------common--------------------- */
.clear:after{ content:''; display:block; clear:both; }
/* section{ outline:3px solid brown; } */

@keyframes arrowMove{
	0% {transform:translateY(-7px)}
	50% {transform:translateY(0)}
	0% {transform:translateY(-7px)}
}


/* ---------------------header--------------------- */
/* header > *{ background-color:darkcyan; } */
header > .title{ padding-top:7px; font-weight:700; font-size:25px; color:#4A41AB; float:left; }
header > .title > a{ color:#4A41AB; }
header > nav{ outline:px solid red; float:right; }
header > nav > .section_nav > li{ outline:px solid blue;  float:left; }
header > nav > .section_nav > li > button{ outline:px solid red; margin:15px 0 0 60px; font-size:20px; font-weight:700; color:#4A41AB; }
header > nav > .section_nav > li > button:hover{ text-decoration:underline; }
header > .port_nav{ position:absolute; top:70px; right:-100px; opacity:0; transition:all .5s ease-out; }
header > .port_nav.fixed{ right:30px; opacity:1; }
header > .port_nav > .port_nav_box + .port_nav_box{ margin-top:15px; }
header > .port_nav > .port_nav_box > button{ border:3px solid #f8e88f; border-radius:50%; width:23px; height:23px; margin:7px; font-size:0; display:block; }
header > .port_nav > .port_nav_box > button:hover{ background-color: rgba(74, 65, 171, .2); }
header > .port_nav > .port_nav_box > button.jsNav{ border-color:#4A41AB; }
header > .port_nav > .port_nav_box > button.show{ background-color:rgba(248, 232, 145, .7); }
header > .port_nav > .port_nav_box > span{  width:100%; line-height:15px; font-size:13px; color:#4A41AB; text-align:center; background-color:#f8e88f; display:block; }
header > .port_nav > .port_nav_box:nth-child(2) > span{ line-height:16px; font-size:15px; }



/* ---------------------main--------------------- */
/* --- < intro > --- */
.intro{ height: calc(100vh - 55px); min-height: 700px; margin-top: 55px; background-color: #f8f8f8; }
.intro > .inner{ width: 100%; height: 90%; min-height: 650px; margin: 0 auto; padding: 80px 20%; background-color: rgba(192, 191, 191, .1); position: relative; }
/* introBG */
.intro > .inner > .introBG{ width: 30%; position: absolute; top: 35%; right: 16%; transform: translateY(-35%); }
.intro > .inner > .introBG > .bgColorBox{ width: 100%; background-color: #f8e88f; opacity: .5; display: relative;  }
.intro > .inner > .introBG > .bgColorBox:after{ content: ''; display: block; width: 100%; height: 100%;  background-color: #4A41AB; opacity: .5; position: absolute; top: 11%; right: -11%; }
.intro > .inner > .introBG > .emoge{ width: 75%; position: absolute; top: 55%; left: 80%; transform: translate(-80%, -55%); opacity: .8; }
/* title */
.intro > .inner > .title{  max-width: 600px; font-weight: 500; letter-spacing: 5px;  }
.intro > .inner > .title > span{ line-height: 90px; font-size: 60px; display: inline-block; }
.intro > .inner > .title > span > strong{ font-weight: 500; }
/* about me(skills) */
.intro > .inner > .aboutMeBox{  width: 50%; margin: 30px 0;  }
.intro > .inner > .aboutMeBox > .aboutMeCover{  height: auto; opacity: 1; }
.intro > .inner > .aboutMeBox > .aboutMeCover.hide{ height: 0; opacity: 0; }
.intro > .inner > .aboutMeBox > .aboutMeCover > ul{  padding: 0 5px; background-color: #1c1b20; display: inline-block;  }
.intro > .inner > .aboutMeBox > .aboutMeCover > ul > li{ padding: 3px 10px; font-weight: bold; color: #f8f8f8; display: inline-block; }
.intro > .inner > .aboutMeBox > .aboutMeCover > button{ border: 2px solid #1c1b20; margin: 0; padding: 3px 5px 4px; font-size: 20px; font-weight: bold; transform: translateX(-4px); }
.intro > .inner > .aboutMeBox > .aboutMeCover > button:hover{ border-color: #4A41AB; color: #4A41AB; background-color: #f8e88f; }
.intro > .inner > .aboutMeBox > .aboutMeCont{ width: 100%; max-width: 480px;  position: relative; }
.intro > .inner > .aboutMeBox > .aboutMeCont,
.intro > .inner > .aboutMeBox > .aboutMeCont *{ display: none; }
.intro > .inner > .aboutMeBox > .aboutMeCont.show,
.intro > .inner > .aboutMeBox > .aboutMeCont.show *{ display: inline-block;  }
.intro > .inner > .aboutMeBox > .aboutMeCont > ul.aboutMe > li{ margin: 0px 0; font-size: 15px; font-weight: 400; display: inline-block; }
.intro > .inner > .aboutMeBox > .aboutMeCont > ul.aboutMe > li > *{ float: left }
.intro > .inner > .aboutMeBox > .aboutMeCont > ul.aboutMe > li > strong{  width: 100px; line-height: 18px; margin: 0; color: #4A41AB; display: inline-block;  }
.intro > .inner > .aboutMeBox > .aboutMeCont > ul.aboutMe > li > strong > span{ display: block; }
.intro > .inner > .aboutMeBox > .aboutMeCont > ul.aboutMe > li > span{  width: calc(100% - 100px); }
.intro > .inner > .aboutMeBox > .aboutMeCont > .closeBtn{ border: 2px solid #1c1b20; padding: 2px 5px; font-size: 20px; font-weight: bold; position: absolute; top: -40px; right: 5px; }
.intro > .inner > .aboutMeBox > .aboutMeCont > .closeBtn:hover{ border-color: #4A41AB; color: #4A41AB; background-color: #f8e88f; }
/* contactBox */
.intro > .inner > .contactBox{ margin-top: 20px; display: inline-block; }
.intro > .inner > .contactBox.hide{ display: none; }
.intro > .inner > .contactBox > a{ display: block; }
/* scrollBtn */
.intro > .inner > .scrollBtn{  color:#fff; position:absolute; bottom:-15px; left:50%; transform:translateX(-50%); opacity:1; transition:all .5s ease; z-index:300;  }
/* .intro > .inner > .scrollBtn:after{ content: ''; display: block; width: 1px; height: 100%; background-color: #1c1b20; opacity: .7; position: absolute; left: 50%; transform: translateX(-50%); transition: all .3s ease-out; } */
.intro > .inner > .scrollBtn > button{ cursor:default; }
.intro > .inner > .scrollBtn > button > span{ font-size:10px; font-weight:900; display:block; transform:rotate(-90deg); }
.intro > .inner > .scrollBtn > button > span.arrow{  padding-top:15px; font-size:18px; font-weight:300; transform:translateY(-7px);  animation:arrowMove 1s ease infinite; }

.intro > .inner > .scrollBtn.hide{ bottom:-5px; opacity:0; }
/* .intro > .inner > .scrollBtn.hide:after{ height: 0; } */





/* --- < portfolio > --- */
.portfolio{ border: px solid red;  background-color: #f8f8f8; }
.portfolio > .inner{ outline: px solid green; width: 100%; max-width: 1000px; margin: 0 auto; padding: 100px 0;  }
.portfolio > .inner > h2{ border: 5px solid rgba(74, 65, 171, .8); width: 210px; padding: 140px 0 20px 18px; font-size: 20px; vertical-align: bottom; display: inline-block; position: relative; }
.portfolio > .inner > h2:after{ content: ''; display: block; width: 30px; height: 3px; background-color: #1c1b20; position: absolute; bottom: 55px; left: 21px; }

.portfolio > .inner > .portListBox{ outline: px solid blue; margin: 280px 0; position: relative; }
.portfolio > .inner > .portListBox.moneyboo,
.portfolio > .inner > .portListBox.kakaobank{ margin-top: 100px; }
/* -- imgTitle -- */
.portfolio > .inner > .portListBox > .imgTitle{ width: 50%; cursor: pointer; position: relative; transform: translateY(30px); }
.portfolio > .inner > .portListBox.left > .imgTitle{ float: left; }
.portfolio > .inner > .portListBox.right > .imgTitle{ float: right; text-align: right; }
/* .portfolio > .inner > .portListBox > .imgTitle > .siteImg{ position: relative; } */
/* 'GO ->' text */
.portfolio > .inner > .portListBox > .imgTitle > .siteImg > span{ width: 150px; height: calc(100% + 60px);  font-size: 40px; font-weight: 700; color: rgba(66, 66, 66, .4); position: absolute; top: -60px; z-index: 1000; transition: all .8s ease; }
.portfolio > .inner > .portListBox.left > .imgTitle > .siteImg > span{ left: 0; }
.portfolio > .inner > .portListBox.right > .imgTitle > .siteImg > span{ padding-right: 30px; right: -30px; }
.portfolio > .inner > .portListBox.left > .imgTitle > .siteImg > span.mouseover{ padding-left: 30px; color: rgba(66, 66, 66, .9); }
.portfolio > .inner > .portListBox.right > .imgTitle > .siteImg > span.mouseover{ padding-right: 0; color: rgba(66, 66, 66, .9); }

.portfolio > .inner > .portListBox > .imgTitle > .siteImg > img{ width: 110%; height: 100%; display: block; box-shadow: -5px 6px 8px #c5c5c5; }
.portfolio > .inner > .portListBox.left > .imgTitle > .siteImg > img{ width: 100%; height: 100%; display: block; box-shadow: 5px 6px 8px #c5c5c5; }
/* website 포폴 이미지 */
.portfolio > .inner > .portListBox.website.kakaobank > .imgTitle > .siteImg > img{ width: 100%; background:url('../images/kakaobank.png') no-repeat 0 0; background-size:cover; }
.portfolio > .inner > .portListBox.website.cjenc > .imgTitle > .siteImg > img{  background:url('../images/cj_pc.png') no-repeat 0 0; background-size:cover;  }
.portfolio > .inner > .portListBox.website.sksiltron > .imgTitle > .siteImg > img{ background:url('../images/site_sk_siltron.png') no-repeat 0 0; background-size:cover;  }
.portfolio > .inner > .portListBox.website.microsoft > .imgTitle > .siteImg > img{ background:url('../images/microsoft_entire.png') no-repeat 0 0; background-size:cover;  }
.portfolio > .inner > .portListBox.website.parkeunjae > .imgTitle > .siteImg > img{ background:url('../images/portfolio_pej.png') no-repeat 0 0; background-size:cover;  }
/* JS/Vue.js 포폴 이미지 */
.portfolio > .inner > .portListBox.script.todolistJS > .imgTitle > .siteImg > img{  background:url('../images/todolist_hover.png') no-repeat 0 0; background-size:cover;  }
.portfolio > .inner > .portListBox.script.paintbrush > .imgTitle > .siteImg > img{  background:url('../images/paint_hover_w.png') no-repeat 0 0; background-size:cover;  }
.portfolio > .inner > .portListBox.script.randomclick > .imgTitle > .siteImg > img{  background:url('../images/randomclick_hover.png') no-repeat 0 0; background-size:cover;  }
.portfolio > .inner > .portListBox.script.todolistVue > .imgTitle > .siteImg > img{  background:url('../images/todolistVue_hover.png') no-repeat 0 0; background-size:cover;  }
.portfolio > .inner > .portListBox.script.hackernews > .imgTitle > .siteImg > img{  background:url('../images/hackernews_hover.png') no-repeat 0 0; background-size:cover;  }
.portfolio > .inner > .portListBox.script.weatherapp > .imgTitle > .siteImg > img{  background:url('../images/weatherApp_hover.png') no-repeat 0 0; background-size:cover;  }
.portfolio > .inner > .portListBox.script.moneyboo > .imgTitle > .siteImg > img{  background:url('../images/moneyboo_hover.png') no-repeat 0 0; background-size:cover;  }

.portfolio > .inner > .portListBox > .imgTitle > span.jsVueBG{ line-height: 250px; font-size: 350px; font-weight: bold; color: rgba(74, 65, 171, .5); cursor: auto; position: absolute; top: 20px; }
.portfolio > .inner > .portListBox.left > .imgTitle > span.jsVueBG.vue{ left: -450px; }
.portfolio > .inner > .portListBox.left > .imgTitle > span.jsVueBG.js{ left: -300px; }
.portfolio > .inner > .portListBox.right > .imgTitle > span.jsVueBG.vue{ right: -450px; }
.portfolio > .inner > .portListBox.right > .imgTitle > span.jsVueBG.js{ right: -300px; }


/* -- text_box -- */
.portfolio > .inner > .portListBox > .text_box{ outline: px solid pink; width: 50%; padding-top: 140px; position: relative; }
.portfolio > .inner > .portListBox.left > .text_box{ padding-left: 40px; padding-right: 0px; float: right; }
.portfolio > .inner > .portListBox.right > .text_box{ padding-left: 0px; padding-right: 40px; text-align: right; }
.portfolio > .inner > .portListBox > .text_box > .num{ line-height: 50px; font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 80px; letter-spacing: 10px; color: rgba(74, 65, 171, .8); font-weight: bold; position: absolute; top: 10px; z-index: 3000; }
.portfolio > .inner > .portListBox.left > .text_box > .num{ left: 0; transform: translateX(-25%); }
.portfolio > .inner > .portListBox.right > .text_box > .num{ right: 0; transform: translateX(25%); }
.portfolio > .inner > .portListBox > .text_box > .num > span{ font-family: 'Source Sans Pro', sans-serif, Arial, Verdana; font-size: 18px; color: #1c1b20; font-weight: 200; letter-spacing: 0; position: absolute; bottom: 20px; right: -80%; display: none;  }
.portfolio > .inner > .portListBox.left.hackernews > .text_box > .num > span{ right: -45%;  }
.portfolio > .inner > .portListBox.right > .text_box > .num > span.jsvue{ left: -55%; }
.portfolio > .inner > .portListBox.right.moneyboo > .text_box > .num > span{ left: -60%; }
.portfolio > .inner > .portListBox.right.paintbrush > .text_box > .num > span{ left: -90%; }
/* (h3) title */
.portfolio > .inner > .portListBox > .text_box > h3{  font-size: 30px; position: absolute; top: 70px; }
.portfolio > .inner > .portListBox.left > .text_box > h3{ left: 40px; }
.portfolio > .inner > .portListBox.right > .text_box > h3{ right: 40px; }
/* 포폴 세부 셜명 text */
.portfolio > .inner > .portListBox > .text_box > .exp_text{  }
.portfolio > .inner > .portListBox.right > .text_box > .exp_text{ text-align: right; }
.portfolio > .inner > .portListBox > .text_box > .exp_text > span{ font-size: 16px; font-weight: 200; letter-spacing: 0px; }
.portfolio > .inner > .portListBox > .text_box > .exp_text > span > strong{ font-weight: 200; background-color: rgba(248, 232, 145, .5);  }
/* (page) + (website - Layout Sketch) */
.portfolio > .inner > .portListBox > .text_box > .page{ margin-top: 20px; display: inline-block; position: relative; }
.portfolio > .inner > .portListBox > .text_box > .page:before{ content: ''; display: block; width: 100%; height: 5px; background-color: rgba(74, 65, 171, .3); position: absolute; bottom: 5px; left: 0; }
.portfolio > .inner > .portListBox > .text_box > .layout{  margin-left: 20px; padding-right: 40px; display: inline-block; }
.portfolio > .inner > .portListBox > .text_box > .layout > span{ color: #4A41AB; font-weight: bold; cursor: pointer; position: relative; }
.portfolio > .inner > .portListBox.right > .text_box > .layout > span{ text-align: right; }
.portfolio > .inner > .portListBox > .text_box > .layout > span:hover{ background-color: #f8e88f; }
.portfolio > .inner > .portListBox > .text_box > .layout > span:after{ content: 'mouse on'; display: block; width: 35px; line-height: 10px; color: #f8e88f; font-size: 10px; text-align: center;  background-color: #4A41AB; position: absolute; top: -10px; right: -40px; }
.portfolio > .inner > .portListBox > .text_box > .layout > img{ width: 100%; opacity: 0; transition: all .8s ease; z-index: 2000; position: absolute; top: 30px; left: -200%; }
.portfolio > .inner > .portListBox.cjenc > .text_box > .layout > img,
.portfolio > .inner > .portListBox.microsoft > .text_box > .layout > img{ width: 110%; }
.portfolio > .inner > .portListBox.right > .text_box > .layout > img{ left: 200%; }
.portfolio > .inner > .portListBox.left > .text_box > .layout > img.locationChange{ left: -100%; }
.portfolio > .inner > .portListBox.right > .text_box > .layout > img.locationChange{ left: 100%; }
.portfolio > .inner > .portListBox > .text_box > .layout > img.showEffect{ opacity: 1; }
/* github link */
.portfolio > .inner > .portListBox > .text_box > .code_box{ margin: 20px 0; font-weight: bold; }
.portfolio > .inner > .portListBox.right > .text_box > .code_box{ text-align: right; }
.portfolio > .inner > .portListBox > .text_box > .code_box > li.title{  width: 100%; margin: 0; text-align: left; background-color: transparent; box-shadow: none; cursor: auto; display: block; }
.portfolio > .inner > .portListBox.right > .text_box > .code_box > li.title{ text-align: right; }
.portfolio > .inner > .portListBox.left > .text_box > .code_box > li.title{ padding-left: 10px; }
.portfolio > .inner > .portListBox > .text_box > .code_box > li.title:hover{ background-color: transparent; }
.portfolio > .inner > .portListBox > .text_box > .code_box > li{ width: 100px; margin: 5px 0 5px 10px; text-align: center; cursor: pointer; background-color: #1c1b20; display: inline-block; box-shadow: 3px 3px 5px #c5c5c5; }
.portfolio > .inner > .portListBox.left > .text_box > .code_box > li{ transform: translateX(-10px); }
.portfolio > .inner > .portListBox > .text_box > .code_box > li:hover{ background-color: #f8e88f; }
.portfolio > .inner > .portListBox > .text_box > .code_box > li > a { color: #f8f8f8; }











/* loading화면 */
.loadingView{ width:100vw; min-height:340px; height:100vh; overflow:hidden; background-color:#4A41AB; position:fixed; top:0; left:0; z-index:1000; transition:all .3s ease-out; }
.loadingView > *{ position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); }
/* .loadingView > .loadingBar{  } */
.loadingView > .loadingBar > .bar{ width:40px; height:7px; margin-left:-12px; background-color:#f8f8f8; display:inline-block; }
.loadingView > .loadingBar > .bar:nth-child(n){ 
	transform:rotate(30deg);
	-ms-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-moz-transform:rotate(30deg);
	animation:fall 2s infinite;
	-webkit-animation:fall 2s infinite;
	-moz-animation:fall 2s infinite;
 }
.loadingView > .loadingBar > .bar:nth-child(2n){ 
	transform:rotate(-30deg);
	-ms-transform:rotate(-30deg);
	-webkit-transform:rotate(-30deg);
	-moz-transform:rotate(-30deg);
	animation:rise 2s infinite;
	-webkit-animation:rise 2s infinite;
	-moz-animation:rise 2s infinite;
 }
.loadingView > .loadingText{  color:#f8f8f8; font-size:40px; font-weight:700; transform:translate(-50%, -90px);
	animation:loadText 1s infinite;
	-webkit-animation:loadText 1s infinite;
	-moz-animation:loadText 1s infinite;
}

@keyframes fall {
	50%{ transform:rotate(-30deg); 
		-ms-transform:rotate(-30deg);
		-webkit-transform:rotate(-30deg);
		-moz-transform:rotate(-30deg);
	}
}

@keyframes rise {
	50%{ transform:rotate(30deg); 
		-ms-transform:rotate(30deg);
		-webkit-transform:rotate(30deg);
		-moz-transform:rotate(30deg);
	}
}

@keyframes loadText {
	50%{ opacity:.5;
		-ms-opacity:.5;
		-webkit-opacity:.5;
		-moz-opacity:.5;
	}
}


/* ---------------------footer--------------------- */
.top_btn{ position:absolute; bottom:0px; right:25px; opacity:0; transition:all .5s ease-out; }
.top_btn.show{ opacity:1; bottom:30px; }
.top_btn > span:last-child{ font-size:11px; font-weight:900; transform:rotate(90deg); display:block; }
.top_btn > span:first-child{ font-size:22px; font-weight:300; transform:translateY(-7px); display:inline-block; animation:arrowMove 1s ease infinite; }