@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,400,500,600&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');

/* ---------------------reset------------------- */
body {
	font:normal 18px 'Source Sans Pro', sans-serif, Arial, Verdana;
	font-weight:400;
	line-height:1.6;
	color:#1c1b20;
	background-color:#4A41AB;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 { font-size:1em; }
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
li{  list-style:none;  }
ul, ol{  list-style:none;  }
a{  text-decoration:none; color:#000;  }
img{ vertical-align:top; } /* img가 베이스라인만큼 떠있는 것을 없애줌 */
table{ width:100%; border-collapse:collapse; }
strong, em{ font-style:normal; font-weight:400; }
button{ border:none; padding:0; background-color:transparent; cursor:pointer;  }
button:focus{ outline:none; }


/* ---------------------layout------------------- */
.wrap{ width:100%; min-width:340px; background-color:#1c1b20;  }
header{ background-color:#f8e88f; width:calc(100% + -110px); height:55px; padding:0 55px; }
header.fixed{ position:fixed; top:0; left:0; }
main{ width:100%; background-color:#f8f8f8; overflow:hidden;  left:0; transition:all .5s ease-out; }
footer{ width:100%;  background-color:; position:fixed; bottom:0; transition:all .5s ease-out; }

/* ---------------------common--------------------- */
.clean:after{ content:''; display:block; clear:both; }
/* section{ outline:3px solid brown; } */

@keyframes arrowMove{
	0% {transform:translateY(-7px)}
	50% {transform:translateY(0)}
	0% {transform:translateY(-7px)}
}


/* ---------------------header--------------------- */
/* header > *{ background-color:darkcyan; } */
header > .title{ padding-top:7px; font-weight:700; font-size:25px; color:#4A41AB; float:left; }
header > .title > a{ color:#4A41AB; }
header > nav{ outline:px solid red; float:right;  }
header > nav > .section_nav > li{ outline:px solid blue;  float:left; }
header > nav > .section_nav > li > button{ outline:px solid red; margin:15px 0 0 60px; font-size:20px; font-weight:700; color:#4A41AB; }
header > nav > .section_nav > li > button:hover{ text-decoration:underline; }
header > .port_nav{ position:absolute; bottom:-20px; right:70px; opacity:; transition:all .3s ease-out; }
header > .port_nav > button{ border:3px solid #000; border-radius:50%; width:23px; height:23px; margin-left:5px; font-size:0; }


/* ---------------------main--------------------- */
/* ---intro--- */
.intro{ width:100%; height:500px; min-height:800px; background-color:#f8e88f;  }
.intro > .inner{  width:76.1904762%; height:100%; padding:0 11.90476190476%/*200px*/; position:relative; }

.intro > .inner > .title{ outline:px solid lime; font-size:80px; color:#4A41AB; position:absolute; top:100px; transition:all .8s ease; }
.intro > .inner > .title > span{   font-weight:400;  display:block; }
.intro > .inner > .title > span:last-child:after{ content:''; display:inline-block; border-radius:50%; width:50px; height:50px; margin-left:30px; background-color:#4A41AB; }
.intro > .inner > .title > span > strong{ font-weight:400; position:relative;}
.intro > .inner > .title > span > strong:after{ content:''; display:block; width:100%; height:10px; background-color:#4A41AB; position:absolute; bottom:0px; left:0px; transition:all .3s ease-out;  }


.intro > .inner > .aboutMe{ outline:px solid red; width:40%; max-width:600px; position:absolute; right:11.90476190476%; bottom:100px;  }
.intro > .inner > .aboutMe > li{ margin-bottom:10px; }
.intro > .inner > .aboutMe > li > strong{  font-size:20px; font-weight:900; color:#4A41AB; display:inline-block; }
.intro > .inner > .aboutMe > li > span{  margin:10px 0; font-size:20px; font-weight:300; display:block;  }
.intro > .inner > .aboutMe > li > span > strong{ font-weight:400; position:relative; }
/* .intro > .inner > .aboutMe > li > span > strong:after{ content:''; display:inline-block; width:100%; height:9px; background-color:rgba(0, 0, 0, .3); position:absolute; left:0; bottom:3px; } */

.intro > .inner > .scrollBtn{  color:#fff; position:absolute; bottom:-40px; left:calc(50% + -30px); transform:translateX(-50%); transition:all .5s ease; z-index:300;  }
.intro > .inner > .scrollBtn > button{ cursor:default; }
.intro > .inner > .scrollBtn > button > span{ font-size:10px; font-weight:900; display:block; transform:rotate(-90deg); }
.intro > .inner > .scrollBtn > button > span:last-child{ padding-top:15px; font-size:18px; font-weight:300; transform:translateY(-7px);   animation:arrowMove 1s ease infinite; }





/* ---portfolio--- */
.portfolio > .inner{ padding:0 11.90476190476% 100px; background-color:#f8f8f8; }
.portfolio > .inner > .portfolio_list{ }
.portfolio > .inner > .portfolio_list > h2{ outline:px solid red; margin-top:200px; font-size:40px; color:#4A41AB; display:inline-block; }
.portfolio > .inner > .portfolio_list > h2:after{ content:''; display:block; width:100%; height:10px; background-color:rgba(248, 232, 143, 0.5); transform:translateY(-17px); }
.portfolio > .inner > .portfolio_list > .portListBox{ outline:px solid red; padding:70px 55px; }
.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content{ border:4px solid #f8e88f; padding:50px; box-sizing:border-box; position:relative; }

.portfolio > .inner > .portfolio_list > .portListBox  > .portfolio_content > h3{ line-height:50px; font-size:50px; color:#4A41AB; text-align:center; }
.portfolio > .inner > .portfolio_list > .portListBox  > .portfolio_content > h3:after{ content:''; display:inline-block; width:20px; height:20px; margin-left:10px; border-radius:50%; background-color:#4A41AB; }
.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .exp_text{ width:500px; margin:30px auto 100px; /*background-color:rgba(248, 232, 143, 0.5);*/ }
.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .exp_text > span{  line-height:35px; margin-bottom:10px; font-size:20px; font-weight:400; display:block;  }
.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .exp_text > span > strong{ background-color:rgba(248, 232, 143, 0.5); }

.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .imgTitle{ width:40%; margin:0 5%; outline:px solid blue; float:left; position:relative; }
/* .portfolio > .inner > .portfolio_list > .portListBox:nth-child(odd) > .portfolio_content > .imgTitle{ margin-left:100%; transform:translateX(-100%); } */
.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .imgTitle > a > span{ outline:px solid red; width:calc(100% + -6%); font-size:40px; font-weight:700; color:#1c1b20; position:absolute; left:0px; top:-70px; z-index:10; transition:all .4s ease-out; opacity:.5; }
/* .portfolio > .inner > .portfolio_list > .portListBox:nth-child(odd) > .portfolio_content > .imgTitle > a > span{ text-align:right; padding-right:6%; } */

.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .imgTitle > .siteImg{ width:100%; height:100%; background:url('../images/kakaobank.png') no-repeat 0 0; background-size:cover; display:block; }
.portfolio > .inner > .portfolio_list > .portListBox:nth-child(1) > .portfolio_content > .imgTitle > .siteImg{  background:url('../images/cj_pc.png') no-repeat 0 0; background-size:cover;  }
/* .portfolio > .inner > .portfolio_list > .portListBox:nth-child(2) > .portfolio_content > .imgTitle > .siteImg{ background:url('../images/site_sk_siltron.png') no-repeat 0 0; background-size:cover;  }
.portfolio > .inner > .portfolio_list > .portListBox:nth-child(3) > .portfolio_content > .imgTitle > .siteImg{ background:url('../images/microsoft_entire.png') no-repeat 0 0; background-size:cover;  } */

.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .imgTitle > .siteImg > img{ width:100%; transition:all .6s ease-out; }

.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .text_box{ outline:px solid rgb(252, 216, 161); width:calc(40% + -100px); margin:0 5%; padding:0 50px; float:left; }
.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .text_box > span.page{ font-weight:400; position:relative; }

.portfolio > .inner > .portfolio_list > .portListBox  > .portfolio_content > .text_box > .code_box{ font-weight:400; font-size:20px; position:relative; }
.portfolio > .inner > .portfolio_list > .portListBox  > .portfolio_content > .text_box > .code_box > li{ margin:5px 0; }
.portfolio > .inner > .portfolio_list > .portListBox  > .portfolio_content > .text_box > .code_box > li > span{ font-size:20px; width:100px; text-align:center; display:inline-block; }
.portfolio > .inner > .portfolio_list > .portListBox  > .portfolio_content > .text_box > .code_box > li > span.html{ background-color:#4A41AB; color:#fff; }
.portfolio > .inner > .portfolio_list > .portListBox  > .portfolio_content > .text_box > .code_box > li > span.css{ border:1px solid #4A41AB; color:#4A41AB; box-sizing:border-box; }
.portfolio > .inner > .portfolio_list > .portListBox  > .portfolio_content > .text_box > .code_box > li > span.js{ background-color:#f8e88f; }
.portfolio > .inner > .portfolio_list > .portListBox  > .portfolio_content > .text_box > .code_box > li > a{ margin-left:20px; font-size:18px; font-weight:300; text-decoration:underline; }
.portfolio > .inner > .portfolio_list > .portListBox  > .portfolio_content > .text_box > .code_box > li > a:hover{ color:#FF9D0D; }

.portfolio > .inner > .portfolio_list > .portListBox  > .portfolio_content > .text_box > .layout{  margin-top:20px; display:inline-block; }
.portfolio > .inner > .portfolio_list > .portListBox  > .portfolio_content > .text_box > .layout > span{ font-size:20px; position:relative; cursor:pointer; }
.portfolio > .inner > .portfolio_list > .portListBox  > .portfolio_content > .text_box > .layout > img{ width:100%; position:absolute; bottom:0; left:0; z-index:20; display:none; }
.portfolio > .inner > .portfolio_list > .portListBox  > .portfolio_content > .text_box > .layout:hover > img{ display:block; }

/*:after*/
.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .text_box > span:after{ content:''; display:block; width:30%; height:5px; background-color:rgba(74, 65, 171, 0.7); position:absolute; top:28px; left:0; }
.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .text_box > span.page:after,
.portfolio > .inner > .portfolio_list > .portListBox  > .portfolio_content > .text_box > .code_box:after{ content:''; display:block; width:100px; height:5px; background-color:rgba(74, 65, 171, 0.7); position:absolute; top:22px; left:0; }
.portfolio > .inner > .portfolio_list > .portListBox  > .portfolio_content > .text_box > .layout > span:after{ content:''; display:block; width:110%; height:5px; background-color:rgba(74, 65, 171, 0.7); position:absolute; top:22px; left:0; }


/* portfolio에 마우스오버시 효과 */
.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content.on > .imgTitle > a > span{ padding-left:6%; opacity:1; }
.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content.on > .imgTitle > .siteImg{ background-position-y:bottom; transition:all 15s ease-out; transition-delay:.4s;  }
.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content.on > .imgTitle > .siteImg > img{  opacity:0; }



/* ---------------------footer--------------------- */
.top_btn{ position:absolute; bottom:0px; right:25px; opacity:0; transition:all .5s ease-out; }
.top_btn > span:last-child{ font-size:11px; font-weight:900; transform:rotate(90deg); display:block; }
.top_btn > span:first-child{ font-size:22px; font-weight:300; transform:translateY(-7px); display:inline-block; animation:arrowMove 1s ease infinite; }






@media screen and (max-width:1315px) {
	/* ---------------------main--------------------- */
	/* ---intro--- */
	.intro > .inner > .title{  font-size:60px; }
	.intro > .inner > .aboutMe{ width:60%; }
}

@media screen and (max-width:1110px) {
	/* ---------------------main--------------------- */
	/* ---intro--- */
	.intro > .inner >  .title{  font-size:50px; }
	.intro > .inner > .aboutMe > li > span{ font-size:18px; }
	/* ----portfolio--- */
	.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .exp_text > span{ font-size:18px; }
	.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .imgTitle{ width:50%; margin:0; }
	.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .text_box{ width:calc(50% + -100px); margin:0;  }
	.portfolio > .inner > .portfolio_list > .portListBox  > .portfolio_content > .text_box > h2{ font-size:100px; line-height:100px; }
}

@media screen and (max-width:1040px) {
	/* ----portfolio--- */
	.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .exp_text{ width:100%; }
	.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .imgTitle{ width:calc(100% + -100px); padding:0 50px; }
	.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .text_box{ width:calc(100% + -100px);  }
}


@media screen and (max-width:895px) {
	/* ---------------------header--------------------- */
	/* header > *{ background-color:darkcyan; } */
	header > nav > .section_nav{ display:none; }

	/* ---------------------main--------------------- */
	main{ position:static; width:100%; margin:0; }
	/* ---intro--- */
	.intro{ height:auto; min-height:auto;  padding:50px 0; }
	.intro > .inner > .title{ margin-bottom:50px; font-size:50px; transform:translate(0, 0); position:static; }
	.intro > .inner > .aboutMe{ width:calc(100%); position:static; }
	.intro > .inner > .scrollBtn{ top:80px; left:20px; transform:translateX(0); position:fixed; }
	/* ----portfolio--- */
	.portfolio > .inner > .portfolio_list > .portListBox{  height:auto; padding:55px; }
	.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content{  }
	.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .imgTitle > a > span{ text-align:right; }
	.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .text_box > .layout{ display:none; }

	/* ---------------------footer--------------------- */
	footer{ height:0; }
	.top_btn{ bottom:-60px; }

	/* scroll시 javascript용  */
	.intro > .inner > .scrollBtn.hide{ opacity:0; top:0; }
	.top_btn.show{ opacity:1; bottom:30px; }
}

@media screen and (max-width:790px) {
	/* ---------------------main--------------------- */
	/* ---intro--- */
	.intro > .inner > .title{ line-height:50px; font-size:40px; }
	.intro > .inner > .title > span:last-child:after{ width:30px; height:30px; margin-left:15px; }
	.intro > .inner > .title > span > strong:after{ height:7px; }
	.intro > .inner > .scrollBtn{ left:0px; }
	/* ----portfolio--- */
	/* .portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .imgTitle > a > span{ top:-120px; } */
	/* .portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .imgTitle > .siteImg > img{ display:none; } */
	.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .imgTitle{ width:100%; padding:0; }
	.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .text_box{ width:calc(100% + -60px); padding:30px; }
	.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .text_box > h2{ position:static; }

	/* ---------------------footer--------------------- */
	.top_btn{ right:7px; }
}

@media screen and (max-width:570px) {
	/* ---------------------main--------------------- */
	/* ---intro--- */
	.intro > .inner > .title{ line-height:45px; font-size:35px; }
	/* ----portfolio--- */
}

@media screen and (max-width:540px) {
	/* ---------------------main--------------------- */
	/* ---intro--- */
	.intro > .inner > .title{ line-height:35px; font-size:25px; }
	.intro > .inner > .aboutMe > li > strong{ font-size:17px; }
	.intro > .inner > .aboutMe > li > span{ font-size:17px; }
	/* ----portfolio--- */
	.portfolio > .inner > .portfolio_list > .portListBox{ padding:50px 0; }
	.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .text_box > h2{ font-size:75px; line-height:75px; }
	.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .text_box > span{ line-height:27px; margin-top:30px; font-size:17px;}
}


@media screen and (max-width:500px) {
	/* ---------------------main--------------------- */
	/* ----portfolio--- */
	.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .imgTitle > a > span{ font-size:30px; top:-55px; }
	.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .text_box > h2{ font-size:60px; line-height:60px; }
	
}

@media screen and (max-width:360px) {
	/* ----portfolio--- */
	.portfolio > .inner > .portfolio_list > .portListBox > .portfolio_content > .text_box{ width:100%; padding:20px 0; }
}