@import "reset.css";
body{
    width:100%;
    padding:50px 0;
    background-color:#f6f9fc;
    /* font-family:; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align:center;
    overflow:hidden; */
}

.canvas{
    width: 700px;
    height: 700px;
    
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.controls{ 
    margin-top: 50px;
    /* transform:translateX(calc(50% + -225px)); */
    display:flex;
    flex-direction: column;
    align-items: center;
}
.controls .controls_btns{
    margin-bottom:30px;
    /* transform:translateX(calc(-50% + 225px)); */
}
.controls_btns button{
    all: unset;
    border: 1px solid rgba(0, 0, 0, .2);
    width:80px;
    padding: 6px 0px 3px;
    border-radius: 5px;
    color:rgba(0, 0, 0, .7);
    font-weight: 800;
    font-size:12px;
    text-align: center;
    text-transform:uppercase;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.controls_btns button:active{
    transform:scale(0.96);
}
.controls .controls_colors{
    display:flex;
}
.controls_colors .controls_color{
    width:50px;
    height:50px;
    border-radius:50%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    float:left;
    cursor:pointer;
}

.controls .controls_range{
    /* transform:translateX(calc(-50% + 225px)); */
}