@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700,900|Noto+Sans+KR:400,500,700&display=swap');

/* ---------------------reset------------------- */
body {
	font:normal 12px 'Noto Sans KR', sans-serif, Arial, Verdana;
	line-height:1.6;
	color:#666;
	background-color:#fff;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 { font-size:1em; }
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
li{  list-style:none;  }
ul, ol{  list-style:none;  }
a{  text-decoration:none; color:#4c4c4c;  }
img{ vertical-align:top; } /* img가 베이스라인만큼 떠있는 것을 없애줌 */
table{ width:100%; border-collapse:collapse; }
strong, em{ font-style:normal; }



/* ---------------------layout------------------- */
.wrap{ width:100%; min-width:1200px; }
header{ background-color:#fff; width:calc(100% + -96px); height:60px; padding:0 48px; position:fixed; top:0; left:0; /*overflow:hidden;*/ z-index:1000; }
main{ background-color:#fff; padding-bottom:100vh; }
main > *{ outline:2px solid orange; }
footer{ background-color:#fff; padding:40px 50px 50px; position:relative; bottom:0/*-100vh*/; overflow:hidden;*/ }


/* ---------------------common------------------- */
.clear:after{ content:''; display:block; clear:both; }
.eng{ font-family:'montserrat'; }
h2{ margin-top:100px; text-align:center; font-size:30px; font-weight:900; color:#000; }
.h2Text{ margin:30px 0; text-align:center; font-size:16px; display:block; }



/* ---------------------header------------------- */
header.scroll:before{ content:''; display:inline-block; width:50%; height:0; border:2px solid #d0112b; position:absolute; left:0; bottom:-3px; }
header.scroll:after{ content:''; display:inline-block; width:50%; height:0; border:2px solid #ef7622; position:absolute; right:0; bottom:-3px; }
header > *{ position:absolute; top:20px; }
header li a{ font-weight:600; }
.util_nav{ left:48px; }
.util_nav > li{ float:left; }
.util_nav > li > a{ margin-right:30px; display:inline-block; }
.util_nav > li > a:after{ content:''; display:block; width:12px; height:0; border-top:2px solid #666; transition:all .6s ease-out; }
.util_nav > li > a:hover{ color:#000; }
.util_nav > li > a:hover:after{ width:100%; border-top:2px solid #000; }

.logo{ top:14px; left:50%; transform:translateX(-50%); }

.langBox{  width:50px; right:100px; z-index:250;  }
.langBox > .lang:before{ content:''; display:inline-block;  border:5px solid #666; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid transparent;  position:absolute; right:0; top:7px; }
.langBox > .lang:after{ content:''; display:block; width:12px; height:0; border-top:2px solid #666;  transition:all .6s ease-out; }
.langBox:hover > .lang{ color:#000; }
.langBox:hover > .lang:before{ border-top:5px solid #000; }
.langBox:hover > .lang:after{ width:100%; border-top:2px solid #000; }

.langBox > .lang_other{ border:0px solid #000; height:0; padding:0 15px; background-color:#fff; position:absolute; top:40px; left:-17px; overflow:hidden; transition:all .4s ease-out; }
.langBox > .lang_other > li{ font-size:0; }
.langBox > .lang_other > li > a{  width:50px; line-height:25px; font-size:12px; color:#868585; display:inline-block; }
.langBox > .lang_other > li > a:after{ content:''; display:inline-block; width:10px; height:3px; margin:0 0 3px 11px; background-color:#000; opacity:0; }
.langBox > .lang_other > li > a:hover{ color:#000; }
.langBox > .lang_other > li > a:hover:after{ opacity:1; }
/*script active*/
.langBox.active{ height:100px;  }
.langBox.active > .lang_other{ border:1px solid #000; height:75px; padding:15px; }

.gnbBtn{ font-size:0; top:25px; right:0; }
.gnbBtn:before{ content:''; display:block; width:37px; height:3px; background-color:#000; }
.gnbBtn:after{ content:''; display:block; width:23px; height:3px; margin:5px 0 0 auto; background-color:#000; }

.gnbBox{ box-sizing:border-box; background-color:#f5f5f7; width:100%; height:0; padding:80px 0 0 100px; position:fixed; left:0; right:0; top:59px; bottom:0; z-index:200;  opacity:0; overflow:hidden; transition:all .4s ease-out; }
.gnbBox > .inner{ width:59.52380952381%/*1000px*/; min-width:800px; margin:0 auto; /*margin:80px 0 0 20.2380952381%/*340px*/; position:relative; }
.gnbBox > .inner > *{ position:absolute; }
.gnbBox > .inner > .main{ height:20px; left:0; opacity:0; transition:all .5s ease-out; }
.gnbBox > .inner > .main > li + li{  margin-top:40px; }
.gnbBox > .inner > .main > li{ opacity:0; transition:all .5s ease-out; transition-delay:.2s; }
.gnbBox > .inner > .main > li:nth-child(1){ transition-delay:.6s; }
.gnbBox > .inner > .main > li:nth-child(2){ transform:translateY(-70px); transition-delay:.5s; }
.gnbBox > .inner > .main > li:nth-child(3){ transform:translateY(-80px); transition-delay:.4s; }
.gnbBox > .inner > .main > li:nth-child(4){ transform:translateY(-90px); transition-delay:.3s; }
.gnbBox > .inner > .main > li:nth-child(5){ transform:translateY(-100px); }
.gnbBox > .inner > .main > li > a{  line-height:40px; padding:0 0 15px; font-size:43px; font-weight:500; color:#666; display:inline-block; transition:all .2s ease-out; }
.gnbBox > .inner > .main > li > ul{ transform:translateY(-0px); }
.gnbBox > .inner > .main > li > ul > li{  height:0; padding-right:30px; float:left; overflow:hidden; transition:all .2s ease-out; }
.gnbBox > .inner > .main > li > ul > li + li{ padding-left:46px; background:url('../images/bg_depth2.png') no-repeat left 6px; }
.gnbBox > .inner > .main > li > ul > li > a{ font-size:16px; font-weight:500; color:#666; }
.gnbBox > .inner > .util{ border-right:1px solid #000; height:80px; padding-right:70px; font-size:20px; right:10px; transform:translateY(-40px); transition:all .7s ease-out; transition-delay:.6s; }
.gnbBox > .inner > .util:after{ content:''; display:block; width:6px; height:6px; background:url('../images/bg_util.png') no-repeat; position:absolute; right:-6px; bottom:0;}
.gnbBox > .inner > .util > li{ opacity:0; transition:all .5s ease-out; transition-delay:1s; }
.gnbBox > .inner > .util > li:nth-child(1){ transition-delay:1.4s; }
.gnbBox > .inner > .util > li:nth-child(2){ transform:translateY(-20px); transition-delay:1.3s; }
.gnbBox > .inner > .util > li:nth-child(3){ transform:translateY(-40px); transition-delay:1.2s;  }
.gnbBox > .inner > .util > li:nth-child(4){ transform:translateY(-60px); transition-delay:1.1s; }
.gnbBox > .inner > .util > li:nth-child(5){ transform:translateY(-70px); }
.gnbBox > .inner > .util > li > a{ font-size:16px; font-weight:500; color:#666; display:block; }
.gnbBox > .inner > .util > li+li > a{ margin-top:15px; }

.gnbBox > .inner > .bgImg{  width:100%; height:300px; position:absolute; top:500px; }
.gnbBox > .inner > .bgImg > *{  position:absolute; opacity:0; transition:all .5s ease-out; }
.gnbBox > .inner > .bgImg  >img:nth-child(1){ width:40%; min-width:262px; left:-17%/*-150px*/; transition-delay:.8s }
.gnbBox > .inner > .bgImg  >img:nth-child(2){ width:40%; min-width:287px; right:1%/*10px*/; bottom:0; transition-delay:1.2s }
.gnbBox > .inner > .bgImg  >img:nth-child(3){ width:40%; min-width:305px; right:-30%/*-300px*/; bottom:100px; transition-delay:.5s }
/*gnbBtn클릭시 gnbBox 보이는 script*/
header.gnbOpen{ background-color:#f5f5f7; }
header.gnbOpen .gnbBtn{ width:14px; height:14px; background:url('../images/btn_nav_off.png') no-repeat; right:20px; }
header.gnbOpen .gnbBtn:before{ display:none; }
header.gnbOpen .gnbBtn:after{ display:none; }
header.gnbOpen .gnbBox{ height:100%; opacity:1; }
header.gnbOpen .gnbBox > .inner > .main{ height:100%; opacity:1; }
header.gnbOpen .gnbBox > .inner > .main > li{ opacity:1; transform:translateY(0); }
header.gnbOpen .gnbBox > .inner > .util{ height:180px; transform:translateY(0); }
header.gnbOpen .gnbBox > .inner > .util > li{ opacity:1; transform:translateY(0);  }
header.gnbOpen .gnbBox > .inner > .bgImg  >img:nth-child(1){ opacity:1; left:-15%; }
header.gnbOpen .gnbBox > .inner > .bgImg  >img:nth-child(2){ opacity:1; }
header.gnbOpen .gnbBox > .inner > .bgImg  >img:nth-child(3){ opacity:1; }
/*.gnbBox-서브메뉴들 script*/
.gnbBox > .inner > .main > li.show > a{ margin-bottom:20px; color:#000; }
.gnbBox > .inner > .main > li.show > ul{ transform:translateY(-0px); }
.gnbBox > .inner > .main > li.show > ul > li{ height:25px; }




/* ---------------------main--------------------- */
/*---- intro ----*/
.intro{ width:calc(100% + -100px); min-width:1200px; height:calc(100vh + -110px); padding:60px 50px 50px; background-color:#fff; position:fixed; top:0; }
.intro:after{ content:''; display:block; width:calc(100% + -100px); height:calc(100% + -110px); background-color:rgba(0, 0, 0, .2); position:fixed; top:60px;    }
.intro > video{ width:calc(100% + -100px); height:calc(100vh + -110px); object-fit:cover; position:fixed;  }

.intro > .text_box{ position:absolute; left:50%; top:45%; transform:translate(-50%, -45%); z-index:1; }
.intro > .text_box > img{ margin:0 auto 25px; display:block; }
.intro > .text_box > span{ color:#fff; font-size:26px; font-weight:400; display:block; }
.intro > .text_box > a{ border:1px solid #fff; padding:13px 18px; font-size:14px; color:#fff; display:inline-block; position:absolute; left:50%; transform:translateX(-50%); bottom:-200px; }

.intro > .scrollBtn{ height:70px; color:#000; position:absolute; bottom:25px; left:50%; transform:translateX(-50%); z-index:1; }
.intro > .scrollBtn:after{ content:''; display:block; border-left:1px solid #000; width:6px; height:40px; position:absolute; bottom:0; left:50%; background:url('../images/bg_util.png') no-repeat bottom 60px; background-size:6px;  }


/*---- other_main_contents ----*/
.other_main_contents > *{  background-color:#fff; }
.other_main_contents{ width:100%; padding-bottom:100px; background-color:#fff; /*position:absolute; top:100vh;*/ position:relative; top:100vh; }

/* 1. worldclass */
.worldclass > ul{   margin:0 auto; padding:0 180px; }
.worldclass > ul > li{  width:48.10606060606%/*635px*/; margin-right:1.13636363636%/* 15px */; height:200px; float:left; }
.worldclass > ul > li:first-child{ background:url('../images/bg_main0101.jpg') no-repeat; background-size:cover; }
.worldclass > ul > li:last-child{ margin-right:0; margin-left:1.15384615385%/* 15px */; background:url('../images/bg_main0102.jpg') no-repeat; background-size:cover; }
.worldclass > ul > li > *{ margin-left:50px; display:block; }
.worldclass > ul > li > strong{ margin-top:45px; font-weight:700; font-size:20px; color:#000; }
.worldclass > ul > li > span{ margin:12px 50px 5px; font-weight:600; font-size:14px; }
.worldclass > ul > li > a{ width:75px; height:30px; font-size:0; display:inline-block; position:relative; }
.worldclass > ul > li > a:before{ content:''; display:inline-block; border-bottom:1px solid #000; width:60px; height:6px;  background:url('../images/bg_btn.png') no-repeat 54px 0px; position:absolute; left:0; bottom:12px; z-index:40; }
.worldclass > ul > li > a:after{ content:''; display:inline-block; width:30px; height:30px; border-radius:50%; background-color:#fff; position:absolute; top:0; left:43px; z-index:1; }

/* 2. journey */
.journey{ /*width:100%; max-width:1400px;*/ height:669px; background:url('../images/bg_main02.png') no-repeat 0 100%; background-size:100%;  }
.journey > .moveSizeBox{  width:83.33333333333%; max-width:1400px; position:absolute; left:50%; transform:translateX(-50%); }
.journey > .moveSizeBox > .moveBox1{  width:100%; height:86px; margin-top:60px; display:inline-block; position:relative; }

.journey > .moveSizeBox > .moveBox1:before{ content:''; display:block; width:0; height:1px; background-color:#cdcdcd; position:absolute; top:50%; transform:translateY(-50%); transition:all 1s ease-out; }
.journey > .moveSizeBox > .moveBox1 > img{ position:absolute; transition:all .5s ease-out; }
.journey > .moveSizeBox > .moveBox1 > img:nth-child(1){ left:20%; transform:translate(-20%); opacity:0; transition-delay:1.8s; }
.journey > .moveSizeBox > .moveBox1 > img:nth-child(2){ left:32%; transform:translateX(-32%); opacity:0; transition-delay:1.5s; }
.journey > .moveSizeBox > .moveBox1 > img:nth-child(3){ left:50%; transform:translate(-50%, 100px); opacity:0; transition-delay:1s; }
.journey > .moveSizeBox > .moveBox1 > img:nth-child(4){ right:30%; transform:translateX(-30%); opacity:0; transition-delay:1.5s; }
.journey > .moveSizeBox > .moveBox1 > img:nth-child(5){ right:20%; transform:translateX(-20%); opacity:0; transition-delay:1.8s; }
/*script scroll*/
.journey.scroll > .moveSizeBox > .moveBox1:before{ content:''; display:block; width:100%; height:1pz; background-color:#cdcdcd;  transform:translateY(-50%); }
.journey.scroll > .moveSizeBox > .moveBox1 > img{ opacity:1; }
.journey.scroll > .moveSizeBox > .moveBox1 > img:nth-child(1){ left:25%; transform:translateX(-25%); }
.journey.scroll > .moveSizeBox > .moveBox1 > img:nth-child(2){ left:37%; transform:translateX(-37%); }
.journey.scroll > .moveSizeBox > .moveBox1 > img:nth-child(3){ left:50%; transform:translateX(-50%); }
.journey.scroll > .moveSizeBox > .moveBox1 > img:nth-child(4){ right:35%; transform:translateX(-35%); }
.journey.scroll > .moveSizeBox > .moveBox1 > img:nth-child(5){ right:25%; transform:translateX(-25%); }


.journey > .moveSizeBox > .moveBox2{  width:48.21428571429%/*810px*/; min-width:810px; height:355px; margin-top:30px; position:relative; left:50%; transform:translateX(-50%); }
.journey > .moveSizeBox > .moveBox2 > *{ position:absolute; opacity:0; transition:all .7s ease-out; transition-delay:2.3s; }
.journey > .moveSizeBox > .moveBox2 > img:nth-child(1){ left:50%; transform:translateX(-50%); z-index:10; transition:all .3s ease-out; transition-delay:3s; }
.journey > .moveSizeBox > .moveBox2 > img:nth-child(3){ left:50%; top:5px; transform:translateX(-50%); }
.journey > .moveSizeBox > .moveBox2 > img:nth-child(5){ left:50%; top:40px; transform:translateX(-50%); }
.journey >  .moveSizeBox >.moveBox2 > img:nth-child(7){ left:50%; bottom:180px; transform:translateX(-50%); }
.journey > .moveSizeBox > .moveBox2 > span{ font-size:16px; z-index:20; }
.journey > .moveSizeBox > .moveBox2 > span:nth-child(2){ left:-100px; top:70px; transition-delay:3.3s;}
.journey > .moveSizeBox > .moveBox2 > span:nth-child(4){ right:-100px; top:180px; transition-delay:3.7s;}
.journey > .moveSizeBox > .moveBox2 > span:nth-child(6){ left:-100px; bottom:55px;  transition-delay:4s;}
/*script scroll*/
.journey.scroll > .moveSizeBox > .moveBox2 > *{ position:absolute; opacity:1; }
.journey.scroll > .moveSizeBox > .moveBox2 > img:nth-child(3){ top:45px; }
.journey.scroll > .moveSizeBox > .moveBox2 > img:nth-child(5){ top:156px; }
.journey.scroll >  .moveSizeBox >.moveBox2 > img:nth-child(7){ bottom:3px; }
.journey.scroll > .moveSizeBox > .moveBox2 > span:nth-child(2){ left:0%;  }
.journey.scroll > .moveSizeBox > .moveBox2 > span:nth-child(4){ right:0%; }
.journey.scroll > .moveSizeBox > .moveBox2 > span:nth-child(6){ left:0%; }


.journey > .moveSizeBox > .moveBox2 > span:before{ content:''; display:block; border-top:1px solid #000; width:100px; height:0; position:absolute; top:12px; z-index:20; }
.journey > .moveSizeBox > .moveBox2 > span:after{ content:''; display:block; border:2px solid rgba(0, 0, 0, .6); border-radius:50%; width:6px; height:6px; position:absolute; top:8px; left:100px; z-index:20; }
.journey > .moveSizeBox > .moveBox2 > span:nth-child(2):before{ width:260px; left:80px; }
.journey > .moveSizeBox > .moveBox2 > span:nth-child(2):after{ left:340px; }
.journey > .moveSizeBox > .moveBox2 > span:nth-child(4):before{ width:160px; right:80px; }
.journey > .moveSizeBox > .moveBox2 > span:nth-child(4):after{ left:-190px; }
.journey > .moveSizeBox > .moveBox2 > span:nth-child(6):before{ width:140px; left:110px; }
.journey > .moveSizeBox > .moveBox2 > span:nth-child(6):after{ left:249px; }



/* 3. highlights */
.highlights{ padding-bottom:80px; position:relative; }
.highlights > .slider{ width:60.71428571429%/*1020px*/; min-width:900px; height:353px; margin:40px auto; padding:0 9.80392156863%/*100px*/; background:url('../images/bg_highlights.png') no-repeat; background-size:cover; position:relative; transition:all .5s ease-out; }
.highlights > .slider:after{ content:''; display:block; width:100%; height:100%; background-color:rgba(0, 0, 0, .5); position:absolute; left:0; }
.highlights > .slider > li{  width:33%; height:100%; font-size:24px; font-weight:700; color:rgba(255, 255, 255, .5); float:left; overflow:hidden; position:relative; z-index:30; }
.highlights > .slider > li + li:after{ content:''; display:block; border-left:1px solid rgba(255, 255, 255, .5); width:0; height:30px; position:absolute; bottom:0;  }
.highlights > .slider > li > *{ width:100%; display:inline-block; }
.highlights > .slider > li > strong{  margin:120px 0 0 50px; }
.highlights > .slider > li > span{  margin:-40px 0 0 80px; }
.highlights > a{ border:1px solid #000; padding:10px 50px; font-size:16px; background-color:#fff; box-shadow:1px 4px 10px rgba(0, 0, 0, .2); position:absolute; left:50%; transform:translateX(-50%); bottom:0; }
/*script showBg*/
.highlights > .slider > li.show{ color:rgba(255, 255, 255, 1);  }
.highlights > .slider > li.show > span{ text-decoration:underline;  }


/* 4. people */
.people > .inner{  width:63.09523809524%/*1060px*/; min-width:795px; height:383px; margin:30px auto 0; position:relative; }
.people > .inner > *{ position:absolute; transition:all .5s ease-out; }
.people > .inner > img{ left:50%; transform:translateX(-50%); z-index:10; opacity:0;  }
.people > .inner > .orange{ left:0; top:80px; }
.people > .inner > .orange > img{ transform:translateX(-150px); opacity:0; transition:all .6s ease-out; transition-delay:.6s; }
.people > .inner > .orange > span{ width:100%; font-size:22px; font-weight:700; color:#000;  position:absolute; top:50%; transform:translateY(-50%); left:-160px; opacity:0; transition:all .6s ease-out; transition-delay:.9s; }
.people > .inner > .red{ right:0; bottom:0; }
.people > .inner > .red > img:first-child{ opacity:0; transform:translateX(150px); transition:all .6s ease-out; transition-delay:1.6s; }
.people > .inner > .red > .skmark{ position:absolute; right:30%; transform:translateX(30%); top:-120px; opacity:0; transition:all .7s ease-out; transition-delay:2s;  }
.people > .inner > a{ font-size:16px; left:-50px; bottom:90px; opacity:0; transition:all .6s ease-out; transition-delay:2.5s;  }
.people > .inner > a:before{ content:''; display:block; border-bottom:1px solid #000; width:140px; height:6px; background:url('../images/bg_btn.png') no-repeat right; position:absolute; bottom:-10px; }
.people > .inner > a:after{ content:''; display:block; border-radius:50%; width:30px; height:30px; background-color:rgba(0, 0, 0, .1); position:absolute; right:-43px; bottom:-22px; }
/* script scroll */
.people.scroll > .inner > img{ opacity:1; }
.people.scroll > .inner > .orange > img{ transform:translateX(0); opacity:1; }
.people.scroll > .inner > .orange > span{ left:-60px; opacity:1; }
.people.scroll > .inner > .red > img:first-child{ opacity:1; transform:translateX(0); }
.people.scroll > .inner > .red > .skmark{ right:50%; opacity:1; transform:translateX(50%); }
.people.scroll > .inner > a{ left:0; opacity:1; }



/* 5. network */
.network > ul{  text-align:center; }
.network > ul > li{  margin:0 20px; display:inline-block; font-size:15px; font-weight:700; color:#000; }
.network > ul.maptext{ margin-top:30px; }
.network > ul.maptext > li:before{ content:''; display:inline-block; width:15px; height:5px; margin:0 8px 2px 0; background-color:#d0112b; }
.network > ul.maptext > li:nth-child(2):before{ background-color:#ef7622; }
.network > ul.maptext > li:nth-child(3):before{ background-color:#000; }

.network > .map{  width:1128px; height:567px; margin-top:90px; background:url('../images/bg_map.png') no-repeat; background-size:cover; position:relative; left:50%; transform:translateX(-50%); }
.network > .map > img{ width:100%; }
.network > .map > .office_box{ position:absolute; }
.network > .map > .office_box:nth-child(1){ top:165px; left:112px; }
.network > .map > .office_box:nth-child(2){ top:223px; left:202px; }
.network > .map > .office_box:nth-child(3){ top:170px; left:530px; }
.network > .map > .office_box:nth-child(4){ top:168px; right:222px; }
.network > .map > .office_box:nth-child(5){ top:205px; right:169px; }
.network > .map > .office_box:nth-child(6){ top:202px; right:93px; }

.network > .map > .office_box > span{ padding-bottom:30px; font-size:16px; font-weight:700; color:#000; position:relative; cursor:pointer; }
.network > .map > .office_box > span:after{ content:''; display:block; border:5px solid #d0112b; border-radius:50%; width:10px; height:10px; background-color:#fff; position:absolute; left:50%; transform:translateX(-50%); bottom:0px; }
.network > .map > .office_box:nth-child(2) > span:after,
.network > .map > .office_box:nth-child(3) > span:after{ border-color:#000; }
.network > .map > .office_box:nth-child(5) > span:after{ border-color:#ef7622; }
.network > .map > .office_box > .office_photo{ border:1px solid #000; padding:20px; font-size:16px; color:#000; background-color:#fff; box-shadow:7px 7px 6px rgba(0, 0, 0, .3); position:absolute; top:-240px; left:-65px; opacity:0; transition:all .3s ease-out; }
/*script .office_photo.show*/
.network > .map > .office_box > .office_photo.show{ opacity:1; }

.network > .map > .office_box:nth-child(2) > .office_photo{ left:-50px; }
.network > .map > .office_box:nth-child(3) > .office_photo{ left:-60px; }
.network > .map > .office_box > .office_photo > span{ width:100%; margin-top:20px; text-align:center; display:inline-block; }

/*.office_photo박스 하단 말풍선꼬리모양.*/
.network > .map > .office_box > .office_photo:before{ content:''; display:block; border:8px solid transparent; border-top:8px solid #fff; width:0; height:0; position:absolute; bottom:-14px; left:88px; }
.network > .map > .office_box > .office_photo:after{ content:''; display:block; width:8px; height:8px; background:url('../images/bg_btn.png') no-repeat; background-size:cover; position:absolute; bottom:-8px; left:89px;  }
.network > .map > .office_box > .office_photo > span:after{ content:''; display:block; width:8px; height:8px; background:url('../images/bg_util.png') no-repeat; background-size:cover; position:absolute; bottom:-8px; right:87px;  }

.network > ul.corp{ margin-top:50px; }
.network > ul.corp > li{ height:70px; margin:0 2.38095238095%/*40px*/; }
.network > ul.corp > li:nth-child(5) > img,
.network > ul.corp > li:nth-child(6) > img{ margin-top:20px; }






/* ---------------------footer--------------------- */
footer:before{ content:''; display:block; border-top:1px solid #d5d5d5;  width:calc(100% + -200px); height:0; padding:0 50px; position:absolute; top:0; }
footer > ul{  margin:0px 0 20px; }
footer > ul > li{  padding-right:40px; float:left; }
footer > ul > li > a{ font-size:13px; }
footer > ul > li > a:after{ content:''; display:block; width:10px; height:2px; margin-top:2px; background-color:#000; transition:all .6s ease-out; }
footer > ul > li > a:hover{ color:#000; }
footer > ul > li > a:hover:after{ width:100%; }

footer > span{ font-size:14px; }

footer > .family_site{ border-bottom:1px solid #d5d5d5; padding:0 50px 5px 0; font-size:14px; color:#666; background:url('../images/familysite.png') no-repeat right 6px; float:right; transition:all .3s ease-out; }
footer > .siteList{ border:1px solid #000; width:456px; padding:10px 20px; background-color:#fff; position:absolute; right:50px; bottom:-250px; opacity:0; transition:all .5s ease-out; }
footer > .siteList > *{ float:left; font-size:14px; }
footer > .siteList > .closeBtn{ width:100%; margin-bottom:10px; color:#000; background:url('../images/familysite.png') no-repeat right -25px }
footer > .siteList > .sk{ width:100px; color:#666; }
footer > .siteList > ul{ width:26%; }
footer > .siteList > ul > li{ margin:2px 0; padding-left:13px; }
footer > .siteList > ul > li:before{ content:''; display:inline-block; width:8px; height:3px; background-color:#fff; margin:0 5px 3px 0; }
footer > .siteList > ul > li > a{ color:#666; }
/* script show */
footer > .family_site.delay{ transition-delay:.5s; }
footer > .siteList.show{ bottom:30px; opacity:1; transition-delay:.3s; }
/* script link-mouseenter */
footer > .siteList > ul > li.on:before{ background-color:#000;}
footer > .siteList > ul > li.on > a{ color:#000;}




