@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700,900|Noto+Sans+KR:400,500,700&display=swap');

/* ---------------------reset------------------- */
body {
	font:normal 12px 'Noto Sans KR', sans-serif, Arial, Verdana;
	line-height:1.6;
	color:#666;
	background-color:#fff;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 { font-size:1em; }
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
li{  list-style:none;  }
ul, ol{  list-style:none;  }
a{  text-decoration:none; color:#4c4c4c;  }
img{ vertical-align:top; } /* img가 베이스라인만큼 떠있는 것을 없애줌 */
table{ width:100%; border-collapse:collapse; }
strong, em{ font-style:normal; }



/* ---------------------layout------------------- */
.wrap{ height:auto; }
header{ background-color:#fff; width:calc(100% + -96px); height:60px; padding:0 48px; position:fixed; top:0; left:0; overflow:hidden; z-index:1000; }
main{ background-color:lightcyan; }
main > *{ outline:2px solid orange; }
footer{ background-color:lightpink; width:100%; position:absolute; bottom:0; display:none; }
footer .inner{}


/* ---------------------common------------------- */
.clear:after{ content:''; display:block; clear:both; }
.eng{ font-family:'montserrat'; }
h2{ margin-top:100px; text-align:center; font-size:30px; font-weight:900; color:#000; }
.h2Text{ margin:30px 0; text-align:center; font-size:16px; display:block; }



/* ---------------------header------------------- */
header.scroll:before{ content:''; display:inline-block; width:50%; height:0; border:2px solid red; position:absolute; left:0; bottom:0; }
header.scroll:after{ content:''; display:inline-block; width:50%; height:0; border:2px solid orange; position:absolute; right:0; bottom:0; }
header > *{ position:absolute; top:20px; }
header li a{ font-weight:600; }
.util_nav{ left:48px; }
.util_nav > li{ float:left; }
.util_nav > li > a{ margin-right:30px; display:inline-block; }
.util_nav > li > a:after{ content:''; display:block; width:12px; height:0; border-top:2px solid #666; transition:all .6s ease-out; }
.util_nav > li > a:hover{ color:#000; }
.util_nav > li > a:hover:after{ width:100%; border-top:2px solid #000; }

.logo{ top:14px; left:50%; transform:translateX(-50%); }

.lang{ width:50px; right:100px;  }
.lang:before{ content:''; display:inline-block;  border:5px solid #666; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid transparent; position:absolute; right:0; top:7px; }
.lang:after{ content:''; display:block; width:12px; height:0; border-top:2px solid #666;  transition:all .6s ease-out; }
.lang:hover{ color:#000; }
.lang:hover:before{ border-top:5px solid #000; }
.lang:hover:after{ width:100%; border-top:2px solid #000; }

.lang_other{ border:1px solid #000; height:0; padding:0 18px; background-color:#fff; top:60px; right:82px; overflow:hidden; transition:all .5s ease-out; }
.lang_other.active{ height:75px; padding:25px 18px;  }
.lang_other > li{ font-size:0; }
.lang_other > li > a{ outline:1px solid lime; line-height:25px; font-size:12px; color:#868585; display:block; }
.lang_other > li > a:after{ content:''; display:inline-block; width:9px; height:3px; margin:0 0 3px 15px; background-color:#000; opacity:0; }
.lang_other > li > a:hover{ color:#000; }
.lang_other > li > a:hover:after{ opacity:1; }

.gnbBtn{ font-size:0; top:25px; right:0; }
.gnbBtn:before{ content:''; display:block; width:37px; height:3px; background-color:#000; }
.gnbBtn:after{ content:''; display:block; width:23px; height:3px; margin:5px 0 0 auto; background-color:#000; }




/* ---------------------main--------------------- */
/*---- intro ----*/
.intro{ width:calc(100% + -100px); height:calc(100vh + -110px); padding:60px 50px 50px; position:fixed; top:0; left:0; z-index:-10; }
.intro:after{ content:''; display:block; width:calc(100% + -100px); height:calc(100% + -110px); background-color:rgba(0, 0, 0, .2); position:absolute; top:60px; }
.intro > video{ width:100%; height:100%; object-fit:cover; background:url('../images/SK_Siltron_900p.mp4') no-repeat; background-size:cover; }

.intro > .text_box{ position:absolute; left:50%; top:45%; transform:translate(-50%, -45%); z-index:1; }
.intro > .text_box > img{ margin:0 auto 25px; display:block; }
.intro > .text_box > span{ color:#fff; font-size:26px; font-weight:400; display:block; }
.intro > .text_box > a{ border:1px solid #fff; padding:13px 18px; font-size:14px; color:#fff; display:inline-block; position:absolute; left:50%; transform:translateX(-50%); bottom:-200px; }

.intro > .scrollBtn{ height:70px; color:#000; position:absolute; bottom:25px; left:50%; transform:translateX(-50%); z-index:1; }
.intro > .scrollBtn:after{ content:''; display:block; border-left:1px solid #000; width:6px; height:40px; position:absolute; bottom:0; left:50%; background:url('../images/bg_util.png') no-repeat bottom 60px; background-size:6px;  }


/*---- other_main_contents ----*/
.other_main_contents > *{ outline:2px solid red; }
.other_main_contents{ width:100%; padding-bottom:300px; background-color:#fff; position:absolute; top:100vh;  }

/* 1. worldclass */
.worldclass > ul{ outline:1px solid blue; margin:0 auto; padding:0 180px; }
.worldclass > ul > li{ outline:1px solid yellow; width:48.10606060606%/*635px*/; margin-right:1.13636363636%/* 15px */; height:200px; float:left; }
.worldclass > ul > li:first-child{ background:url('../images/bg_main0101.jpg') no-repeat; background-size:cover; }
.worldclass > ul > li:last-child{ margin-right:0; margin-left:1.15384615385%/* 15px */; background:url('../images/bg_main0102.jpg') no-repeat; background-size:cover; }
.worldclass > ul > li > *{ margin-left:50px; display:block; }
.worldclass > ul > li > strong{ margin-top:45px; font-weight:700; font-size:20px; color:#000; }
.worldclass > ul > li > span{ margin:12px 50px 5px; font-weight:600; font-size:14px; }
.worldclass > ul > li > a{ width:75px; height:30px; font-size:0; display:inline-block; position:relative; }
.worldclass > ul > li > a:before{ content:''; display:inline-block; border-bottom:1px solid #000; width:60px; height:6px;  background:url('../images/bg_btn.png') no-repeat 54px 0px; position:absolute; left:0; bottom:12px; z-index:30; }
.worldclass > ul > li > a:after{ content:''; display:inline-block; width:30px; height:30px; border-radius:50%; background-color:#fff; position:absolute; top:0; left:43px; z-index:1; }

/* 2. journey */
.journey{ background:url('../images/bg_main02.png') no-repeat 0 100%; background-size:100%; }
.journey > .moveBox1{ outline:1px solid lime; width:100%; height:86px; margin-top:60px; display:inline-block; position:relative; }
.journey > .moveBox1:before{ content:''; display:block; width:100%; height:0; border-top:1px solid #cdcdcd; position:absolute; top:50%; transform:translateY(-50%); }
.journey > .moveBox1 > img{ position:absolute; }
.journey > .moveBox1 > img:nth-child(1){ left:25%; transform:translateX(-25%); }
.journey > .moveBox1 > img:nth-child(2){ left:37%; transform:translateX(-37%); }
.journey > .moveBox1 > img:nth-child(3){ left:50%; transform:translateX(-50%); }
.journey > .moveBox1 > img:nth-child(4){ right:35%; transform:translateX(-35%); }
.journey > .moveBox1 > img:nth-child(5){ right:25%; transform:translateX(-25%); }

.journey > .moveBox2{ outline:1px solid peru; width:48.21428571429%/*810px*/; min-width:810px; height:355px; margin-top:30px; position:relative; left:50%; transform:translateX(-50%); }
.journey > .moveBox2 > *{ position:absolute; }
.journey > .moveBox2 > img:nth-child(1){ left:50%; transform:translateX(-50%); z-index:10; }
.journey > .moveBox2 > img:nth-child(3){ left:50%; top:45px; transform:translateX(-50%); }
.journey > .moveBox2 > img:nth-child(5){ left:50%; top:156px; transform:translateX(-50%); }
.journey > .moveBox2 > img:nth-child(7){ left:50%; bottom:3px; transform:translateX(-50%); }
.journey > .moveBox2 > span{ font-size:16px; }
.journey > .moveBox2 > span:nth-child(2){ left:0%; top:70px; }
.journey > .moveBox2 > span:nth-child(4){ right:0%; top:180px; }
.journey > .moveBox2 > span:nth-child(6){ left:0%; bottom:55px;  }

.journey > .moveBox2 > span:before{ content:''; display:block; border-top:1px solid #000; width:100px; height:0; position:absolute; top:12px; z-index:20; }
.journey > .moveBox2 > span:after{ content:''; display:block; border:2px solid rgba(0, 0, 0, .6); border-radius:50%; width:6px; height:6px; position:absolute; top:8px; left:100px; z-index:20; }
.journey > .moveBox2 > span:nth-child(2):before{ width:260px; left:80px; }
.journey > .moveBox2 > span:nth-child(2):after{ left:340px; }
.journey > .moveBox2 > span:nth-child(4):before{ width:160px; right:80px; }
.journey > .moveBox2 > span:nth-child(4):after{ left:-190px; }
.journey > .moveBox2 > span:nth-child(6):before{ width:140px; left:110px; }
.journey > .moveBox2 > span:nth-child(6):after{ left:249px; }

/* 3. highlights */
.highlights{ padding-bottom:80px; position:relative; }
.highlights > .slider{ width:60.71428571429%/*1020px*/; height:353px; margin:40px auto; padding:0 9.80392156863%/*100px*/; background:url('../images/bg_highlights.png') no-repeat; background-size:cover;  }
.highlights > .slider > li{ width:33%; height:100%; font-size:24px; font-weight:700; color:rgba(255, 255, 255, .5); float:left; position:relative; }
.highlights > .slider > li + li:after{ content:''; display:block; border-left:1px solid rgba(255, 255, 255, .5); width:0; height:30px; position:absolute; bottom:0;  }
.highlights > .slider > li > a{ outline:1px solid red; min-width:220px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); }
.highlights > .slider > li > a > strong{ margin-right:20px; }
.highlights > .slider > li > a > span{ padding-left:20px; }
.highlights > a{ border:1px solid #000; padding:10px 50px; font-size:16px; background-color:#fff; box-shadow:1px 4px 10px rgba(0, 0, 0, .2); position:absolute; left:50%; transform:translateX(-50%); bottom:0; }






/* ---------------------footer--------------------- */





