@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

/* ---------------------reset------------------- */
body {
	font:normal 15px 'Open Sans', sans-serif;
	line-height:1.6;
	color:#000;
	background-color:#fff;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 { font-size:1em; }
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
li{  list-style:none;  }
ul, ol{  list-style:none;  }
a{  text-decoration:none; color:#000;  }
img{ vertical-align:top; } /* img가 베이스라인만큼 떠있는 것을 없애줌 */
table{ width:100%; border-collapse:collapse; }
strong, em{ font-style:normal; }
button{ border:none; padding:0; background:none; cursor:pointer; }



/* ---------------------layout------------------- */
.wrap{ width:100%; min-width:320px; }
header{ outline:1px solid lime; margin:0 5.59523809524%/*94px*/; }
main{  }
main .inner{ width:89.94047619048%/*1511px*/; margin:0 auto; }
footer{ background-color:#f2f2f2; padding:0 5%/*84px*/; }



/* ---------------------common------------------- */
.clear:after{ content:''; display:block; clear:both; }
/*1intro, 3store*/
.textBox{ background-color:orange;  position:absolute; left:93px; top:50%; transform:translateY(-50%); }
.textBox h2{ outline:1px solid lime; font-size:46px; font-weight:700; }
.textBox span{ outline:1px solid lime; margin:10px 0 25px; display:block; }
.textBox div{ outline:1px solid red; display:inline-block; }
.textBox div > button{ outline:1px solid lime; padding:10px 40px 10px 20px; font-size:17px; font-weight:600; display:inline-block; position:relative; }
.textBox div > button.white{ background-color:transparent; color:#000; }
.textBox div > button.black{ background-color:#000; color:#fff; }
.textBox div > button:after{ outline:1px solid lime; content:''; display:inline-block; width:10px; height:17px; background:url('../images/arrow_right.png') no-repeat; position:absolute; right:20px; bottom:12px; transition:all .3s ease-out; }
.textBox div > button.black:after{ background:url('../images/arrow_r_white.png') no-repeat;}
.textBox div > button > span{ margin:0; position:relative; transition:all .3s ease-out; }.textBox div > button:hover:after{ transform:translateX(5px); }
.textBox div > button:hover > span{ transform:translateX(-5px); }
.textBox div > button.white:hover > span:before{ content:''; display:block; width:100%; border-bottom:2px solid #000; position:absolute; bottom:0; }
.textBox div > button.black:hover > span:before{ content:''; display:block; width:100%; border-bottom:2px solid #fff; position:absolute; bottom:0; }
/*2product, 4company*/
.col4-box{ outline:4px solid darkmagenta; /*width:91.36904761905%/*1511+24px;*/ position:relative; left:50%; transform:translateX(-50%); }
.col4-box > ul{ outline:1px solid lightblue; width:50%; margin-bottom:50px; float:left; }
.col4-box > ul > li{ outline:1px solid darkcyan; width:calc(50% + -24px); margin:0 12px; /*width:calc(25% + -24px); margin:0 0.78175895765%/*(1511+24)/12px;*/ float:left; }
.col4-box > ul > li > a{ background-color:lightpink; width:100%; display:inline-block; }
.col4-box > ul > li > a > *{ display:block; }
.col4-box > ul > li > a > img{ width:100%; margin-bottom:40px; }
.col4-box > ul > li > a > strong{ outline:1px solid lime; font-size:20px; }
.col4-box > ul > li > a > span{ outline:1px solid lime; }
.col4-box > ul > li > a > span.link{ outline:1px solid lime; margin-top:10px; color:#005da6; font-weight:600; display:inline-block; position:relative; transition:all .3s ease-out; }
.col4-box > ul > li > a > span.link:after{ content:''; display:block; width:7px; height:100%; padding-left:30px; background:url('../images/arrow_r_blue.png') no-repeat right; background-size:7px 14px; position:absolute; right:-15px; top:0;  transition:all .3s ease-out; }
.col4-box > ul > li > a > span.link:hover:before{ content:''; display:block; width:100%; border-bottom:2px solid #005da6; position:absolute; bottom:-2px; }
.col4-box > ul > li > a > span.link:hover:after{ right:-23px; }


/* ---------------------header--------------------- */
header > * { outline:1px solid red; float:left;}
header a{ font-size:12px; font-weight:400; }

header > h1{ margin-right:30px; }
header > h1 img{ width:110px; padding:10px 0; }

header > ul{  }
header > ul > li{ outline:1px solid blue; float:left; position:relative; } 
header > ul > li + li{ margin-left:22px; } 
header > ul > li:hover:after{ content:''; display:block; width:100%; height:0; border-bottom:2px solid #000; position:absolute; bottom:9px; } 
header > ul > li > a{ background-color:lightgray; padding:16px 0 10px; display:inline-block; } 


header > div{ margin-right:44px; float:right; }
header > div *{ font-size:13px; }
header > div > *{ outline:1px solid blue; border-bottom:2px solid transparent; float:left; position:relative; }
header > div > *:hover:before{ content:''; display:block; width:100%; height:0; border-bottom:2px solid #000; position:absolute; left:0; bottom:9px; }
header > div > .searchBtn:hover:before{ bottom:8px; }
header > div > .loginBtn:hover:before{ border-bottom:none; }

header > div > *:after{ content:''; display:inline-block; padding-left:7px; cursor:pointer; position:absolute; bottom:0px; }
header > div > .navBtn{ margin-right:54px; position:static;/*nav배치위함*/ }
header > div > .navBtn:hover:before{ border:none; }/*위에서 hover시에 before주기로 한 것(header > div > *:hover:before) 지우기. button에서 줄것이기 때문. (.navBtn의 position을 static로 줬기 때문에 전체화면을 기준으로 border가 생기기 때문에 button에 주는 것임)*/
header > div > .navBtn > button{ background-color:rgba(0, 0, 0, .3); padding:13px 15px 14px 0; position:relative; }
header > div > .navBtn > button:before{ content:''; display:block; width:12px; height:6px; background:url('../images/arrow_down.png') no-repeat; background-size:12px 6px; position:absolute; right:0; top:18px; }
header > div > .navBtn > button:after{ content:''; display:block; width:100%; border-bottom:2px solid transparent; }
header > div > .navBtn > button:hover:after{ border-color:#000; }
header > div > .searchBtn{ line-height:48px; margin-right:70px;  /*padding:14px 0 11px;*/ }
header > div > .searchBtn:after{ width:18px; height:100%; background:url('../images/search.png') no-repeat right; background-size:18px; right:-25px;}
header > div > .cartBtn{ line-height:48px; margin-right:52px;  /*padding:13px 0 11px;*/  }
header > div > .cartBtn:after{ width:20px; height:100%; background:url('../images/cart.png') no-repeat right; background-size:20px; right:-27px; }
header > div > .loginBtn{ line-height:48px;  /*padding:13px 0 11px;*/ }
header > div > .loginBtn:after{ width:33px; height:100%; background:url('../images/login.svg') no-repeat right; background-size:33px; right:-41px; top:50%; transform:translateY(-50%); }

/*nav*/
header .navBtn > nav{ background-color:lightpink; position:absolute; top:46px; right:30px; z-index:100; display:; }
header .navBtn > nav > ul{ outline:2px solid red; padding-bottom:45px;  }
header .navBtn > nav > ul > li.mainMenu{ outline:1px solid blue; height:320px; float:left; }
header .navBtn > nav > ul > li.mainMenu > span{ padding:18px 24px; display:inline-block; } /* 왼쪽 padding 주기위해서 따로 span으로 감싸줌. ul.subMenu에서 따로 좌측 padding을 주기위함. */
header .navBtn > nav > ul > li.mainMenu > ul.subMenu{ background-color:lightgoldenrodyellow; }
header .navBtn > nav > ul > li.mainMenu > ul.subMenu > li{ outline:1px solid orange; }
header .navBtn > nav > ul > li.mainMenu > ul.subMenu > li > a{ outline:1px solid blue;  width:171px/*195px-24*/; padding:12px 0 12px 24px; display:inline-block; }
header .navBtn > nav > ul > li.mainMenu > ul.subMenu > li > a:hover{text-decoration:underline;}

header .navBtn > nav > ul > li.sitemap{ background-color:#e6e6e6; width:100%; line-height:38px; text-align:center; display:inline-block; position:absolute; left:0; bottom:0; }
header .navBtn > nav > ul > li.sitemap > a{ outline:1px solid red; height:100%; padding:0 53px 0 40px; display:inline-block; position:relative; }
header .navBtn > nav > ul > li.sitemap > a:hover{ text-decoration:underline; }
header .navBtn > nav > ul > li.sitemap > a:before{ outline:1px solid green; content:''; display:block; width:8px; height:16px;  background:url('../images/arrow_right.png') no-repeat right; background-size:8px; position:absolute; top:11px; right:40px; }




/* ---------------------main--------------------- */
/*1 intro*/
.intro{ margin-top:10px;  }
.intro > .inner > .introSlideBox{ outline:1px solid red; position:relative; left:50%; transform:translateX(-50%); }
.intro > .inner > .introSlideBox > .slide { position:relative; }
.intro > .inner > .introSlideBox > .slide > a{ outline:2px solid blue; }
.intro > .inner > .introSlideBox > .slide > a > img{ width:100%; }

.intro > .inner > .introSlideBox > .slide:nth-child(2) > a > .textBox{ left:50%; transform:translateX(-50%); }
.intro > .inner > .introSlideBox > .slide:nth-child(2) > a > .textBox > h2,
.intro > .inner > .introSlideBox > .slide:nth-child(2) > a > .textBox > span{ text-align:center; }
.intro > .inner > .introSlideBox > .slide:nth-child(2) > a > .textBox > div > button{ width:195px; }
.intro > .inner > .introSlideBox > .slide:nth-child(2) > a > .textBox > div > button:nth-child(2):after{ right:40px; }
.intro > .inner > .introSlideBox > .slide:nth-child(2) > a > .textBox > div > button > span{ display:inline-block; }



/*2 product*/
.product{ outline:3px solid pink; padding:50px 0; }
.product > .inner{ width:calc(89.94047619048% + 24px)/*1511px+24px*/; }


/*3 store*/
.store{ outline:1px solid red; position:relative; left:50%; transform:translateX(-50%); }
.store > .inner > a > img{ width:100%; }


/*4 company*/
.company{ padding:50px 0; }
.company > .inner{ width:calc(89.94047619048% + 24px)/*1511px+24px*/; }

.company > .inner > h3{ margin-bottom:10px; padding:0 4.98812351544%/*84px*/; font-size:25px; font-weight:600; }
.company > .inner > .follow{ outline:1px solid red; /*margin-top:60px;*/ /*padding:0 4.98812351544%/*84px*/; }
.company > .inner > .follow > span{ color:#00000099; display:inline-block; transform:translateY(-8px); }
.company > .inner > .follow > .snsBtn{ outline:1px solid lime; display:inline-block; }
.company > .inner > .follow > .snsBtn > li{ margin-left:16px; float:left; }
.company > .inner > .follow > .snsBtn > li > a{ width:28px; height:28px; font-size:0; display:block; }
.company > .inner > .follow > .snsBtn > li > a:hover:after{ content:''; display:block; width:28px; height:28px; background-color:rgba(0, 0, 0, .2); }
.company > .inner > .follow > .snsBtn > li.facebook > a{ background:url('../images/facebook.svg') no-repeat; }
.company > .inner > .follow > .snsBtn > li.twitter > a{ background:url('../images/twitter.svg') no-repeat; }





/* ---------------------footer--------------------- */
.footerNav{ background-color:lightcoral; }
.footerNav > li{ background-color:lightgoldenrodyellow; width:16.6666666%; margin-top:36px; font-weight:700; color:#616161; float:left; }
.footerNav > li > ul{ outline:1px solid red; }
.footerNav > li > ul > li{ outline:1px solid lime; margin:10px 0; }
.footerNav > li > ul > li > a{ font-size:11px; font-weight:400; color:#616161; }
.footerNav > li > ul > li > a:hover{ color:#000; text-decoration:underline; }


.footerUtil{ background-color:lightskyblue; padding:40px 0 25px; font-size:11px; color:#616161; } 
.footerUtil a{ font-size:11px; color:#616161; } 

.footerUtil > a.lang{ outline:1px solid lime; float:left; position:relative; left:33px; }
.footerUtil > a.lang:hover{ text-decoration:underline; }
.footerUtil > a.lang:after{ content:''; display:block; width:23px; height:23px; padding-right:30px;  background:url('../images/earth.svg') no-repeat; background-size:23px; position:absolute;left:-33px; top:-2px; }

.footerUtil > ul{ outline:1px solid lime; float:right; }
.footerUtil > ul > li{ outline:1px solid red; padding:0 13px;  float:left; }
.footerUtil > ul > li > a{  }
.footerUtil > ul > li > a:hover{ color:#000; text-decoration:underline; }



@media screen and ( max-width:1400px ) { /* header 우측글자삭제/ 1,2-h2폰트크기조정 */
	/* ---------------------common--------------------- */
	.textBox h2{ font-size:24px; }

	/* ---------------------header--------------------- */
	header > div > .searchBtn, 
	header > div > .cartBtn, 
	header > div > .loginBtn{  font-size:0;  }
	header > div > .searchBtn{ margin-right:45px; }
	header > div > .cartBtn{ margin-right:45px; }
	/*nav*/
	header .navBtn > nav{ width:1025px; left:50%; transform:translateX(-50%); }

}

@media screen and ( max-width:1083px ) {
	/* ---------------------common--------------------- */
	.col4-box > ul{ width:calc(100% + 24px); margin-bottom:60px; transform:translateX(-12px); }
	.col4-box > ul > li{ width:calc(50% + -24px); } 

	/* ---------------------header--------------------- */
	/*nav*/
	header .navBtn > nav{ width:820px; }

	/* ---------------------main--------------------- */
	/*1 intro*/
	.intro > .inner{ width:100%; }
	/*2 product*/
	.product > .inner{ width:89.94047619048%/*1511px*/; }
	/*3 store*/
	.store > .inner{ width:100%; }
	/*4 company*/
	.company > .inner{ width:89.94047619048%/*1511px*/; }

	/* ---------------------footer--------------------- */
	footer{ padding:0 12px; }

	.footerNav > li{ width:33.33%; max-width:326px; min-height:238px; } 

	.footerUtil{ padding:40px 24px 25px; }

}

/*860px부터 햄버거메뉴탭으로 변경됨.*/
@media screen and ( max-width:860px ) {

}

@media screen and ( max-width:767px ) {

}



